################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/touhou_selector.sln
/touhou_selector.sln
